<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-8">

      <!-- Header -->
      <div class="header mt-md-5">
        <div class="header-body">
          <div class="row align-items-center">
            <div class="col">

              <!-- Pretitle -->
              <h6 class="header-pretitle">
                New client
              </h6>

              <!-- Title -->
              <h1 class="header-title">
                Create a new client
              </h1>

            </div>
          </div> <!-- / .row -->
        </div>
      </div>

      <!-- Form -->
      <form class="mb-4">

        <!-- Client name -->
        <div class="form-group">
          <label>
            Client name
          </label>
          <input type="text" class="form-control">
        </div>

        <!-- Divider -->
        <hr class="mt-5 mb-5">

        <!-- Buttons -->
        <a href="#" class="btn btn-block btn-primary">
          Create project
        </a>

      </form>

    </div>
  </div>
</div>