<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-8">

      <!-- Header -->
      <div class="header mt-md-5">
        <div class="header-body">
          <div class="row align-items-center">
            <div class="col">

              <!-- Pretitle -->
              <h6 class="header-pretitle">
                New client
              </h6>

              <!-- Title -->
              <h1 class="header-title">
                Create a new client
              </h1>

            </div>
          </div> <!-- / .row -->
        </div>
      </div>

      <!-- Form -->
      <%= form_with model: @client, class: "mb-4" do |f| %>

        <!-- Client name -->
        <div class="form-group">
          <label>
            Client name
          </label>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <!-- Divider -->
        <hr class="mt-5 mb-5">

        <!-- Submit -->
        <%= f.submit "Create Client", class: "btn btn-primary lift" %>
      <% end %>

    </div>
  </div>
</div>