<!-- HEADER -->
<div class="header">
</div>

<!-- CONTENT -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12">

      <!-- Card -->
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">

              <!-- Title -->
              <h4 class="card-header-title">
                Client List
              </h4>

            </div>
            <div class="col-auto">

              <!-- Button -->
              <a href="/clients/new" class="btn btn-sm btn-primary">
                New
              </a>

            </div>
          </div> <!-- / .row -->
        </div>
        <div class="card-body">
          <table class="table table-nowrap">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
              </tr>
            </thead>
            <tbody>
              <% @clients.each do |c| %>
                <tr>
                  <th scope="row"><%= c.id %></th>
                  <td><%= c.name %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>