<div class="kt-user-card kt-margin-b-40 kt-margin-b-30-tablet-and-mobile custom-card-head-bg"> 
    <div class="kt-user-card__wrapper">
        <div class="kt-user-card__details">
            <div class="kt-user-card__name"><%= current_user.name %></div>
            <div class="kt-user-card__position">CEO, Admetric Inc.</div>
        </div>
    </div>
</div>
<ul class="kt-nav kt-margin-b-10">
    <li class="kt-nav__item">
        <a href="?page=custom/user/profile-v1" class="kt-nav__link">
            <span class="kt-nav__link-icon"><i class="flaticon2-gear"></i></span>
            <span class="kt-nav__link-text">Settings</span>
        </a>
    </li>
    <li class="kt-nav__separator kt-nav__separator--fit"></li>
    <li class="kt-nav__custom kt-space-between">
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "btn btn-label-brand btn-upper btn-sm btn-bold" %>
    </li>
</ul>