<!-- begin:: Footer -->
<div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop">
    <div class="kt-container kt-container--fluid ">
        <div class="kt-footer__copyright">
            2019&nbsp;&copy;&nbsp;<a href="https://admetric.cn" target="_blank"class="kt-link">Admetric Inc</a>
        </div>
    </div>
</div>
<!-- end:: Footer -->