<!-- begin:: Header -->
<div id="kt_header" class="kt-header kt-grid__item kt-header--fixed " >
    <%= render "shared/keen/header-menu" %>
    <%= render "shared/keen/topbar-base" %>
</div>
<!-- end:: Header -->